{{!-- <h2>Comments:</h2>
<p class="form-field" contenteditable="true" id="comment">Please write your comment here:</p>
<button class="btn" id="submit-comment">Submit</button> --}}

<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>