<div class="row text-light">
      <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <div class="col-md-8 p-3 bg-light b-post text-light">
    <h2>{{name}}</h2>

    <div class="row">
      <div class="col-md-8">
        <p class="text-secondary text-light">{{description}}</p>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-8 bg-light b-post-two">
    <p class="text-secondary pt-2 text-right text-light"> Posted by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>